@charset "UTF-8";

/**
 * Основные стили
 **/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: $white;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1675px, 0);
}

.general-padding {
  padding: 0 20px;
}

h1 {
  font-size: 100px;
  font-weight: 700;
}

h2 {
}

h3 {
  font-size: 30px;
  letter-spacing: 3.8px;
  font-weight: 200;
}
